<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>About us</title>
</head>
<body>
    <a href="/index">Index</a>
    <a href="/aboutUs">About us</a>
    <a href="/contactMe">Contact me</a>

    <div class="content">
        <h1>About us</h1>

        <img src="/assets/pics/empresa.jpeg" alt="Company image">
        <p>
            <b>
                Company name:
            </b>
            <span>{{.Name}}</span>
        </p>
        <p>
            <b>
                Address:
            </b>
            <span>{{.Address}}</span>
        </p>
        <p>
            <b>
                Email:
            </b>
            <span>{{.Email}}</span>
        </p>
        <p>
            <b>
                Phone:
            </b>
            <span>{{.Phone}}</span>
        </p>
    </div>
</body>
</html>